# **ðŸ“Š Projeto Final: AnÃ¡lise de Dados Educacionais**

## **Bem-vindo ao Projeto Final do Curso de Python da FEA.dev!** ðŸŽ‰

Chegou a hora de colocar em prÃ¡tica tudo o que vocÃª aprendeu no curso! Neste desafio, vocÃª vai explorar e analisar um conjunto de dados sobre o desempenho acadÃªmico de estudantes. Seu objetivo serÃ¡ realizar uma anÃ¡lise exploratÃ³ria completa e responder a uma pergunta norteadora, gerando insights a partir dos dados.

---

## **ðŸš€ O Desafio**

### **Pergunta Norteadora**:  
**"Quais fatores demogrÃ¡ficos, acadÃªmicos e comportamentais mais influenciam a classificaÃ§Ã£o e a mÃ©dia de notas dos estudantes?"**

As variÃ¡veis de interesse sÃ£o **`Classificacao_Notas` e `Media_Notas`**. Investigue como elas se relaciona com outros fatores, como idade, gÃªnero, faltas, horas de estudo e participaÃ§Ã£o em atividades extracurriculares. ðŸ“

---

## **ðŸ“Œ Etapas do Desafio**

1. **ImportaÃ§Ã£o e ExploraÃ§Ã£o dos Dados**:
   - Leia o dataset e obtenha uma visÃ£o geral das informaÃ§Ãµes.
   - Verifique o formato dos dados, tipos de variÃ¡veis e valores ausentes ou duplicados.

2. **PreparaÃ§Ã£o e Limpeza**:
   - Renomeie colunas, trate valores ausentes e ajuste os dados conforme necessÃ¡rio.
   - Crie novas colunas, se Ãºtil para a anÃ¡lise ou visualizaÃ§Ã£o.

3. **AnÃ¡lise ExploratÃ³ria**:
   - Investigue a relaÃ§Ã£o entre **`Classificacao_Notas` e `Media_Notas`** com outras variÃ¡veis.
   - Exemplos de perguntas a explorar:
     - Alunos que participam de atividades extracurriculares tÃªm melhor desempenho?
     - O nÃºmero de faltas impacta a classificaÃ§Ã£o?
     - HÃ¡ diferenÃ§as de desempenho por idade, gÃªnero ou etnia?

4. **VisualizaÃ§Ã£o de Dados**:
   - Crie grÃ¡ficos (ex.: histogramas, boxplots, scatter plots) para apresentar os padrÃµes encontrados de forma clara e visualmente atraente. ðŸ“ˆ

5. **ConclusÃµes**:
   - Resuma os principais insights.
   - Destaque os fatores mais relevantes que influenciam as classificaÃ§Ãµes e as mÃ©dias de notas.

---

## **ðŸ“‹ Regras e Diretrizes**
- Este desafio Ã© focado em anÃ¡lise exploratÃ³ria e visualizaÃ§Ã£o de dados.
- Documente seu processo com comentÃ¡rios no cÃ³digo.
- Seja criativo nas anÃ¡lises e visualizaÃ§Ãµes! ðŸ–Œï¸

---

## **Dica Extra:**

Use documentaÃ§Ãµes, tutoriais e atÃ© pesquisas na internet para te ajudar, mas lembre-se: Ã© essencial entender e refletir sobre o que estÃ¡ aplicando. ðŸš« Evite usar o GPT sem raciocinar!

---

## **ðŸŽ¯ Objetivos de Aprendizado**
- ReforÃ§ar os conceitos aprendidos ao longo do curso.  
- Manipular dados com **`pandas`** e **`numpy`**.  
- Criar visualizaÃ§Ãµes com **`matplotlib`** e **`seaborn`**.  
- Desenvolver uma abordagem crÃ­tica para interpretar padrÃµes em dados.  

---

## **ðŸ“ Como entregar o Projeto Final**

### Passo a Passo:
1. **Prepare seu notebook**:
   - Certifique-se de que ele estÃ¡ completo, organizado e com comentÃ¡rios explicando seu processo.
2. **Envie apenas esse arquivo ipynb!**:
   - Acesse o formulÃ¡rio oficial: **[Link do FormulÃ¡rio](https://forms.gle/oDvYmwKfxscKbMaF8)**.
   - Anexe o arquivo do seu notebook na aba "Projeto Final" e **NÃƒO arquive o dataset, `dados_estudantes.csv`, utilizado!**
   - Este Ã© o mesmo formulÃ¡rio utilizado para as listas de exercÃ­cios. Envie tudo junto para garantir o registro correto.

### **Prazos e CertificaÃ§Ã£o**:
- **Prazo de entrega**: Aumentamos para dia **15/12** (23h59).  
- **CertificaÃ§Ã£o**: Se vocÃª completar pelo menos **70% das listas e o projeto final**, receberÃ¡ um certificado oficial de conclusÃ£o. ðŸŽ“  

---

## **ðŸŽ BenefÃ­cios Extras para Alunos USP**  
Se vocÃª Ã© aluno(a) da USP, terÃ¡ a oportunidade de participar do nosso **Processo Seletivo** para integrar a equipe da FEA.dev! ApÃ³s a entrega do projeto final, fique de olho no seu e-mail para mais informaÃ§Ãµes.  

---

## **ðŸ“š Origem dos Dados**
Este dataset foi disponibilizado por Rabie El Kharoua no Kaggle e estÃ¡ licenciado sob CC BY 4.0:  

> El Kharoua, R. (2024). Students Performance Dataset.  
> DisponÃ­vel em: [Kaggle Dataset Link](https://www.kaggle.com/datasets/rabieelkharoua/students-performance-dataset).

---

## **ðŸ’¡ PS: VocÃª Chegou AtÃ© Aqui!**

Estamos **muito orgulhosos** de ver o quanto vocÃª evoluiu ao longo do curso! ðŸ’ª  
Este projeto Ã© a chance perfeita de consolidar tudo o que aprendeu e mostrar do que Ã© capaz.  

Lembre-se: a jornada no mundo da programaÃ§Ã£o Ã© cheia de descobertas, desafios e atÃ© frustraÃ§Ãµes (Sabemos bem como Ã© kkk), mas cada linha de cÃ³digo escrita Ã© um passo a mais rumo ao seu sucesso. NÃ£o pare por aqui! Continue explorando, aprendendo e se desafiando. O **infinito** Ã© o seu limite.

ParabÃ©ns por ter chegado atÃ© aqui! ðŸŽ‰ Estamos torcendo por vocÃª e muito animados para ver o seu projeto final. Vamos juntos nessa jornada incrÃ­vel! ðŸ§‘â€ðŸ’»

ðŸŽ¯ **Agora Ã© com vocÃª! Explore, analise e descubra os padrÃµes escondidos nos dados. Boa sorte!** ðŸ€

---

## **ðŸ“Š DescriÃ§Ã£o das Colunas do DataFrame**

### **IdentificaÃ§Ã£o do Estudante**  
- **ID_Aluno**: Identificador Ãºnico para cada aluno (de 1001 a 3392).

### **ðŸ‘¥ Detalhes DemogrÃ¡ficos**  
- **Idade**: Idade dos estudantes, variando de 15 a 18 anos.  
- **Genero**: GÃªnero do estudante:
  - 0: Masculino
  - 1: Feminino  
- **Etnia**: Etnia dos estudantes:
  - 0: Caucasiano
  - 1: Afrodescendente
  - 2: AsiÃ¡tico
  - 3: Outra

### **ðŸ‘¨â€ðŸ‘©â€ðŸ‘§ EducaÃ§Ã£o dos Pais**  
- **Escolaridade_Pais**: NÃ­vel de escolaridade dos pais:
  - 0: Nenhum
  - 1: Ensino MÃ©dio
  - 2: Alguma Faculdade
  - 3: GraduaÃ§Ã£o
  - 4: PÃ³s-GraduaÃ§Ã£o ou Superior

### **ðŸ“š HÃ¡bitos de Estudo**  
- **Horas_Estudo_Semanais**: Tempo de estudo semanal em horas (0 a 20).  
- **Faltas**: NÃºmero de faltas no ano letivo (0 a 30).  
- **Aulas_Particulares**: ParticipaÃ§Ã£o em aulas particulares:
  - 0: NÃ£o
  - 1: Sim

### **ðŸ‘¨â€ðŸ‘©â€ðŸ‘§ Envolvimento Parental**  
- **Apoio_Pais**: NÃ­vel de apoio dos pais:
  - 0: Nenhum
  - 1: Baixo
  - 2: Moderado
  - 3: Alto
  - 4: Muito Alto

### **ðŸ« Atividades Extracurriculares**  
- **Atividades_Extracurriculares**: ParticipaÃ§Ã£o em atividades extracurriculares:
  - 0: NÃ£o
  - 1: Sim  
- **Esportes**: ParticipaÃ§Ã£o em esportes:
  - 0: NÃ£o
  - 1: Sim  
- **Musica**: ParticipaÃ§Ã£o em atividades musicais:
  - 0: NÃ£o
  - 1: Sim  
- **Voluntariado**: ParticipaÃ§Ã£o em atividades de voluntariado:
  - 0: NÃ£o
  - 1: Sim

### **ðŸ“ˆ Desempenho AcadÃªmico**  
- **Media_Notas**: MÃ©dia das notas (GPA), variando de 2.0 a 4.0.  
- **Classificacao_Notas**: ClassificaÃ§Ã£o do aluno com base na mÃ©dia das notas:
  - 0: 'A' (MÃ©dia >= 3.5)
  - 1: 'B' (3.0 <= MÃ©dia < 3.5)
  - 2: 'C' (2.5 <= MÃ©dia < 3.0)
  - 3: 'D' (2.0 <= MÃ©dia < 2.5)
  - 4: 'F' (MÃ©dia < 2.0)

---

In [34]:
# Importando as bibliotecas estudadas durante o curso
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Importando o dataset

# Verificando as primeiras linhas do dataset

In [35]:
traducao_colunas = {
    "StudentID": "ID_Aluno",
    "Age": "Idade",
    "Gender": "Genero",
    "Ethnicity": "Etnia",
    "ParentalEducation": "Escolaridade_Pais",
    "StudyTimeWeekly": "Horas_Estudo_Semanais",
    "Absences": "Faltas",
    "Tutoring": "Aulas_Particulares",
    "ParentalSupport": "Apoio_Pais",
    "Extracurricular": "Atividades_Extracurriculares",
    "Sports": "Esportes",
    "Music": "Musica",
    "Volunteering": "Voluntariado",
    "GPA": "Media_Notas",
    "GradeClass": "Classificacao_Notas"
}

# Renomear as colunas

In [36]:
# Agora estÃ¡ por conta prÃ³pria e pronto para brilhar! ðŸŒŸ

### ðŸ” **Pergunta Norteadora** ###
# Quais fatores demogrÃ¡ficos, acadÃªmicos e comportamentais mais influenciam a classificaÃ§Ã£o e a mÃ©dia de notas dos estudantes?

# ðŸ› ï¸ **Dicas para comeÃ§ar:**
# - DÃª uma boa olhada no dataset.
# - Explore as relaÃ§Ãµes entre a variÃ¡vel `Classificacao_Notas` e outros fatores, como gÃªnero, horas de estudo, faltas, etc.
# - Use grÃ¡ficos e tabelas para visualizar os padrÃµes encontrados.
# - Escreva suas reflexÃµes e hipÃ³teses sobre o que vocÃª encontrou.
# - E o mais importante: divirta-se no processo de anÃ¡lise! ðŸ˜„

# NÃ£o hÃ¡ limite para o nÃºmero de cÃ©lulas ou anÃ¡lises. O espaÃ§o Ã© todo seu! ðŸš€

# **SEU CÃ“DIGO COMEÃ‡A AQUI** ðŸ‘‡

In [48]:
### visao geral do dataset ###

dt = pd.read_csv('../data/dados_estudantes.csv', sep = ',')
dt = dt.rename(traducao_colunas, axis = 1) # traduzir nome das colunas

dt.info()
dt

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID_Aluno                      2392 non-null   int64
 1   Idade                         2392 non-null   int64
 2   Genero                        2392 non-null   int64
 3   Etnia                         2392 non-null   int64
 4   Escolaridade_Pais             2392 non-null   int64
 5   Horas_Estudo_Semanais         2392 non-null   float64
 6   Faltas                        2392 non-null   int64
 7   Aulas_Particulares            2392 non-null   int64
 8   Apoio_Pais                    2392 non-null   int64
 9   Atividades_Extracurriculares  2392 non-null   int64
 10  Esportes                      2392 non-null   int64
 11  Musica                        2392 non-null   int64
 12  Voluntariado                  2392 non-null   int64
 13  Media_Notas                   2392 non-null   float64
 14  Classificacao_Notas           2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

,ID_Aluno,Idade,Genero,Etnia,Escolaridade_Pais,Horas_Estudo_Semanais,Faltas,Aulas_Particulares,Apoio_Pais,Atividades_Extracurriculares,Esportes,Musica,Voluntariado,Media_Notas,Classificacao_Notas
0,1001,17,1,0,2,19.8,7,1,2,0,0,1,0,2.9,2.0
1,1002,18,0,0,1,15.4,0,0,1,0,0,0,0,3.0,1.0
2,1003,15,0,2,3,4.2,26,0,2,0,0,0,0,0.1,4.0
3,1004,17,1,0,3,10.0,14,0,3,1,0,0,0,2.1,3.0
4,1005,17,1,0,2,4.7,17,1,3,0,0,0,0,1.3,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.7,2,0,4,1,0,0,0,3.5,0.0
2388,3389,17,0,0,1,7.6,4,1,4,0,1,0,0,3.3,4.0
2389,3390,16,1,0,2,6.8,20,0,2,0,0,0,1,1.1,2.0
2390,3391,16,1,1,0,12.4,17,0,2,0,1,1,0,1.8,1.0
2391,3392,16,1,0,2,17.8,13,0,2,0,0,0,1,2.1,1.0

In [49]:
### limpeza e tratamento dos dados ###

pd.options.display.float_format = '{:.1f}'.format # definir visualizacao para numeros com uma casa decimal

dt.isnull().sum() # contagem de valores nulos
dt.duplicated().sum() # contagem de linhas duplicadas

# substituicao de valores das colunas
dt["Genero"] = dt.apply(
    lambda row: 'masculino' if row["Genero"] == 0
    else 'feminino',
    axis = 1
)

dt["Etnia"] = dt.apply(
    lambda row: 'caucasasiano' if row["Etnia"] == 0
    else 'afrodescendente' if row["Etnia"] == 1
    else 'asiatico' if row["Etnia"] == 2 
    else 'outro',
    axis = 1
)

dt["Escolaridade_Pais"] = dt.apply(
    lambda row: 'nenhuma' if row["Escolaridade_Pais"] == 0
    else 'ensino_medio' if row["Escolaridade_Pais"] == 1
    else 'graduacao_incompleta' if row["Escolaridade_Pais"] == 2
    else 'graduacao_completa' if row["Escolaridade_Pais"] == 3
    else 'pos_graduacao',
    axis = 1
)

dt["Aulas_Particulares"] = dt.apply(
    lambda row: 'nao' if row["Aulas_Particulares"] == 0
    else 'sim',
    axis = 1
)

dt["Apoio_Pais"] = dt.apply(
    lambda row: 'nenhum' if row["Apoio_Pais"] == 0
    else 'baixo' if row["Apoio_Pais"] == 1
    else 'moderado' if row["Apoio_Pais"] == 2
    else 'alto' if row["Apoio_Pais"] == 3
    else 'muito_alto',
    axis = 1
)

dt["Atividades_Extracurriculares"] = dt.apply(
    lambda row: 'nao' if row["Atividades_Extracurriculares"] == 0
    else 'sim',
    axis = 1
)

dt["Esportes"] = dt.apply(
    lambda row: 'nao' if row["Esportes"] == 0
    else 'sim',
    axis = 1
)

dt["Musica"] = dt.apply(
    lambda row: 'nao' if row["Musica"] == 0
    else 'sim',
    axis = 1
)

dt["Voluntariado"] = dt.apply(
    lambda row: 'nao' if row["Voluntariado"] == 0
    else 'sim',
    axis = 1
)

dt["Classificacao_Notas"] = dt.apply(
    lambda row: 'A' if row["Classificacao_Notas"] == 0
    else 'B' if row["Classificacao_Notas"] == 1
    else 'C' if row["Classificacao_Notas"] == 2
    else 'D' if row["Classificacao_Notas"] == 3
    else 'F',
    axis = 1
)

dt

,ID_Aluno,Idade,Genero,Etnia,Escolaridade_Pais,Horas_Estudo_Semanais,Faltas,Aulas_Particulares,Apoio_Pais,Atividades_Extracurriculares,Esportes,Musica,Voluntariado,Media_Notas,Classificacao_Notas
0,1001,17,feminino,caucasasiano,graduacao_incompleta,19.8,7,sim,moderado,nao,nao,sim,nao,2.9,C
1,1002,18,masculino,caucasasiano,ensino_medio,15.4,0,nao,baixo,nao,nao,nao,nao,3.0,B
2,1003,15,masculino,asiatico,graduacao_completa,4.2,26,nao,moderado,nao,nao,nao,nao,0.1,F
3,1004,17,feminino,caucasasiano,graduacao_completa,10.0,14,nao,alto,sim,nao,nao,nao,2.1,D
4,1005,17,feminino,caucasasiano,graduacao_incompleta,4.7,17,sim,alto,nao,nao,nao,nao,1.3,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,feminino,caucasasiano,graduacao_completa,10.7,2,nao,muito_alto,sim,nao,nao,nao,3.5,A
2388,3389,17,masculino,caucasasiano,ensino_medio,7.6,4,sim,muito_alto,nao,sim,nao,nao,3.3,F
2389,3390,16,feminino,caucasasiano,graduacao_incompleta,6.8,20,nao,moderado,nao,nao,nao,sim,1.1,C
2390,3391,16,feminino,afrodescendente,nenhuma,12.4,17,nao,moderado,nao,sim,sim,nao,1.8,B
2391,3392,16,feminino,caucasasiano,graduacao_incompleta,17.8,13,nao,moderado,nao,nao,nao,sim,2.1,B

In [ ]:
### organizacao de colunas do dataset ###

# adicao das colunas 'esportes', 'musica' e 'voluntariado' em 'atividades extracurriculares'
dt["Atividades_Extracurriculares"] = dt.apply(
    lambda x: 'sim' if x["Atividades_Extracurriculares"] == 'sim' 
    or 'sim' in x[["Esportes", "Musica", "Voluntariado"]].values 
    else 'nao',
    axis = 1
)

# excluir as colunas 'esportes', 'musica' e 'voluntariado'
dt = dt.drop(columns=["Esportes", "Musica", "Voluntariado"])

dt

,ID_Aluno,Idade,Genero,Etnia,Escolaridade_Pais,Horas_Estudo_Semanais,Faltas,Aulas_Particulares,Apoio_Pais,Atividades_Extracurriculares,Media_Notas,Classificacao_Notas
0,1001,17,feminino,caucasasiano,graduacao_incompleta,19.8,7,sim,moderado,sim,2.9,C
1,1002,18,masculino,caucasasiano,ensino_medio,15.4,0,nao,baixo,nao,3.0,B
2,1003,15,masculino,asiatico,graduacao_completa,4.2,26,nao,moderado,nao,0.1,F
3,1004,17,feminino,caucasasiano,graduacao_completa,10.0,14,nao,alto,sim,2.1,D
4,1005,17,feminino,caucasasiano,graduacao_incompleta,4.7,17,sim,alto,nao,1.3,F
...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,feminino,caucasasiano,graduacao_completa,10.7,2,nao,muito_alto,sim,3.5,A
2388,3389,17,masculino,caucasasiano,ensino_medio,7.6,4,sim,muito_alto,sim,3.3,F
2389,3390,16,feminino,caucasasiano,graduacao_incompleta,6.8,20,nao,moderado,sim,1.1,C
2390,3391,16,feminino,afrodescendente,nenhuma,12.4,17,nao,moderado,sim,1.8,B
2391,3392,16,feminino,caucasasiano,graduacao_incompleta,17.8,13,nao,moderado,sim,2.1,B